{% extends "base.html" %}

{% block content %}
    <div class="container">
            {% for item in items %}
                 <div class="items-view">
                    <h3>{{ item.title }}</h3>
                    <div class="price_addr">
                        <p class="price">{{ item.price }}</p>
                        <p class="address">{{ item.address }}</p>
                    </div>
                    <div class="breed">
                        <p>{{ item.breed }}</p>
                    </div>
                    <div class="description">
                        <p>{{ item.description }}</p>
                    </div>
                    <div>
                        <p>{{ item.start_date }}</p>
                    </div>
                </div>
            {% endfor %}

      {{ pagination.links }}
    </div>
{%  endblock %}
