<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Items</title>
    <div class="items-list">
    {% if errors %}
        {% for error in errors %}
            <h4>{{ error }}</h4>
        {% endfor %}
    {% endif %}
     {% for id, data in ad_dicts.items(): %}
        <div class="item" class="{{ id }}">
            <h3>{{ data['title'] }}</h3>
            <div class="price_addr">
                <p class="price">{{ data['price'] }}</p>
                <p class="address">{{ data['address'] }}</p>
            </div>
            <div class="breed">
                <p>{{ data['breed'] }}</p>
            </div>
            <div class="description">
                <p>{{ data['desc'] }}</p>
            </div>
            <div>
                <p>{{ data['date'] }}</p>
            </div>
        </div>
      {% endfor %}
    </div>
</head>
<body>

</body>
</html>